<a href="https://colab.research.google.com/github/pin94/python-intro/blob/main/Python_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part I

## I. Declaring Variable in Python

In [ ]:
body height = 170

In [ ]:
name = 'Pinga'

In [ ]:
3 >= 3

True

In [ ]:
22 < 94

True

## II. Hello, world!

In [ ]:
print('Hello, world!')

Hello, world!

In [ ]:
if True:
  print('Hello, world!')

Hello, world!

In [ ]:
if False:
  print('Hello, world!')

In [ ]:
True * False # True = 1, False = 0

0

In [ ]:
True + True

2

In [ ]:
dicetak = False

if dicetak:
  print('Hello, world!')
else:
  print('Nothing')

Nothing

In [ ]:
# how to declare variable properly
_nilai = 10
tinggi_badan = 150.34
beratBadan = 65 # camel case

In [ ]:
PI = 3.14 # to declare that the variabel shouldn't be change

In [ ]:
Tinggi = 170 # not recommended

In [ ]:
type(_nilai) # to check a variable type

int

In [ ]:
type(tinggi_badan)

float

## III. Data Type in Python

### a. String

In [ ]:
myString = "Hello, world!" # u can also use 'Hello, world!'

In [ ]:
type(myString)

str

### b. Numerical

In [ ]:
bodyHeight = 169.80
classLevel = 2

In [ ]:
type(bodyHeight), type(classLevel)

(float, int)

### c. Arrays of Data

#### 1. List

In [ ]:
fruitBasket = ["apple", "orange", "mango"]

In [ ]:
type(fruitBasket)

list

In [ ]:
ID_column = ["name", "height", "weight", "oshi", "if I am over 20 or not"] 
# name=0, height=1, weight=2, oshi=3, if I am over 20 or not=4
myID = ["Pinga", "170", "65", "Yotsu", True]

In [ ]:
for i in range(5):
  print(f'{ID_column[i]} : {myID[i]}')

name : Pinga
height : 170
weight : 65
oshi : Yotsu
if I am over 20 or not : True

In [ ]:
myID[0], len(myID)

('Pinga', 5)

In [ ]:
ID_column[-1] # -1 means 1 from last

'if I am over 20 or not'

In [ ]:
myID[1] = 169,5 # change the list
print(myID)

['Pinga', (169, 5), '65', 'Yotsu', True]

#### Tuple

In [ ]:
myTuple = (1, 2)
print(type(myTuple))
myTuple

<class 'tuple'>

(1, 2)

In [ ]:
myTuple1 = ("Pinga", "170", "65", "Yotsu", True)

In [ ]:
myTuple[0]

1

In [ ]:
myTuple[1] = 169.5 # u can't change Tuple value, and u can't removes the members in Tuple

TypeError: ignored

#### Dictionary

In [ ]:
myDict = {
    "Name" : "Pinga",
    "Height" : 170,
    "Weight" : 65,
    "Oshi" : "Yotsu",
    "If I am over 20 or not" : True
} #Key, value pair, mutable

In [ ]:
myDict["Weight"]

65

## IV. Module and Package in Python

### a. Python's Library

In [ ]:
import seaborn as sns

In [ ]:
import numpy as mp

In [ ]:
import pandas as pd

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from math import cos, pi

In [ ]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

### b. Arithmetics Operator

In [ ]:
1 + 1

2

In [ ]:
1 - 2

-1

In [ ]:
10 / 3 # float

3.3333333333333335

In [ ]:
10 // 3 # int

3

In [ ]:
2 * 3

6

In [ ]:
2 ** 3 # square

8

In [ ]:
11 % 2 # 11 / 2 = 10 + "1"

1